@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.hidden_titles
{
	display: none;
}

a
{
	text-decoration: none;
	color: black;
}

/* affichage smartphone */
@media screen and (max-device-width: 767px)
{
    body
	{
		margin: 0;
		font-family: 'Raleway', sans-serif;
	}
}

@media screen and (min-device-width: 767px) and (max-device-width: 1199px)
{
	body
	{
		font-family: 'Raleway', sans-serif;
		margin: 0;
	}
	header, #search_section
	{
		margin-left: 15px;
		margin-right: 15px;
	}
}

/* affichage ordinateur et grands écrans */
@media screen and (min-device-width: 1200px)
{
	
	html
	{
		display: flex;
		max-width: 1920px;
		align-self: center;
	}
	
	main, header
	{
		width: 70%;
		min-width: 1200px;
		margin: auto;
	}

	body
	{
		align-self: center;
		font-family: 'Raleway', sans-serif;
		margin:0;
	}
}