@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');


body
{
font-family: 'Raleway', sans-serif;
}

a
{
	text-decoration: none;
	color: black;
}

/* affichage smartphone */
@media screen and (max-device-width: 767px)
{
    body
	{
		margin: 0;
	}
}

/* affichage ordinateur et grands écrans */
@media screen and (min-device-width: 1200px)
{
	body
	{
		width: 70%;
		margin: auto;
	}
}*/