/* affichage smartphone */
@media screen and (max-device-width: 767px)
{
    header
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    nav
    {
        order: 1;
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #lien_heb_h, #lien_act_h
    {
        display: flex;
        flex-grow: 1;
        flex-basis: 0;
        border-bottom: 4px #F2F2F2 solid;
        justify-content: center;
        align-items: center;
        font-size: 100%;
        padding-bottom: 4%;
        padding-top: 3%;
    }
    
    #lien_heb_h, #lien_act_h[data-active="true"] 
    {
        color: #0065FC;
        border-bottom: 4px #0065FC solid;
    }

   #inscription 
   {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 6%;
        margin-right: 4%;
        margin-bottom: 4%;
        font-size: 100%;
        font-weight: 900;
        color: #0065FC;
    }

    #logo
    {
        margin-top: 6%;
        margin-left: 4%;
        margin-bottom: 4%;
        max-width: 25%;
    }
}

/* affichage ordinateur et grands écrans */
@media screen and (min-device-width: 768px)
{
    header
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    nav
    {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    #logo
    {
        padding-top: 3%;
        max-width: 100px;
        max-height: 60px;
    }

    #lien_heb_h, #lien_act_h
    {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 4%;
        padding-right: 3%;
        padding-left: 3%;
    }

    #lien_heb_h, #lien_act_h:hover {
        color: #0065FC;
        border-top: 2px #0065FC solid;
    }
    
    #lien_heb_h, #lien_act_h[data-active="true"] {
        color: #0065FC;
        border-top: 2px #0065FC solid;
    }

    #inscription
    {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 3.2%;
        padding-right: 2%;
        padding-left: 3%;
        font-size: 100%;
        font-weight: 900;
        color: #0065FC;
    }
}
