/* affichage smartphone */
@media screen and (max-device-width: 767px)
{
    .popular
    {
        background-color: #F2F2F2;
        padding-bottom: 8px;
    }

    .popular_header
    {
        display: flex;
        margin: 20px;
        justify-content: space-between;
        align-items: center;
    }

    .popular_title
    {
        font-size: 5.8vw;
    }

    .popular_links
    {
        background-color: white;
        display: flex;
        margin: 20px;
        border: 5px white solid;
        border-radius: 1.2rem;
    }

    .first_pop_img
    {
        background-image: url("../images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
        padding-left: 17vw;
        padding-right: 17vw;
        padding-top:18vw;
        padding-bottom: 17vw;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        background-repeat: no-repeat;
        width: 40px;
        height: 8px;
        background-position: center;
        background-size: cover;
    }

    .second_pop_img
    {
        background-image: url("../images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
        padding-left: 17vw;
        padding-right: 17vw;
        padding-top:18vw;
        padding-bottom: 17vw;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        background-repeat: no-repeat;
        width: 40px;
        height: 8px;
        background-position: center;
        background-size: cover;
    }

    .third_pop_img
    {
        background-image: url("../images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
        padding-left: 17vw;
        padding-right: 17vw;
        padding-top:18vw;
        padding-bottom: 17vw;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        background-repeat: no-repeat;
        width: 40px;
        height: 8px;
        background-position: center;
        background-size: cover;
    }

    .pop_link_content
    {
        min-width: 170px;
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
    }

    .pop_link_title
    {
        position: relative;
        font-size: 4.3vw;
        font-weight: 900;
    }

    .pop_link_price
    {
        position: relative;
        font-size: 3.6vw;
        top: -25px;
    }

    .link_stars_true
    {
        color: #0065FC;
        font-size: 0.70em;
        width: 0.80em;
    }

    .link_stars_false
    {
        color: #cfcfcf;
        font-size: 0.70em;
        width: 0.80em;
    }
}
/* affichage ordinateur et grands écrans */
@media screen and (min-device-width: 1200px)
{

}
