/* affichage ordinateur et grands écrans */
@media screen and (min-width: 1200px)
{
    #heb_section
    {
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        max-height: 670px;
    }

    .popular
    {
        border-radius: 2rem;
        padding: 30px;
        padding-bottom: 15px;
        background-color: #F2F2F2;
        order: 1;
        width: 28%;
    }

    .lodging
    {
        border-radius: 2rem;
        padding: 30px;
        background-color: #F2F2F2;
        flex-grow: 2;
        max-width: 60.5%;
    }

    .popular_header
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .popular_links
    {
        box-shadow: -1px -1px 5px 5px rgba(0,0,0,0.05);
        background-color: white;
        display: flex;
        margin-top: 30px;
        margin-bottom: 20px;
        border: 5px white solid;
        border-radius: 1.2rem;
        overflow: hidden;
    }

    .bloc_image_pop
    {
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        object-fit: cover;
        height: 146px;
        width: 140px;
    }

    .bloc_image_pop_other
    {
        transform: scale(1.05);
    }

    .pop_link_content
    {
        min-width: 170px;
        margin-left: 20px;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
    }

    .pop_link_title
    {
        font-size: 108%;
        font-weight: 900;
        margin-bottom: 6px;
    }

    .pop_link_price
    {
        margin-top: 0px;
        margin-bottom: 35px;
        font-size: 94%;
    }

    .link_stars_true
    {
        color: #0065FC;
        font-size: 0.75em;
        width: 0.85em;
    }

    .link_stars_false
    {
        color: #cfcfcf;
        font-size: 0.75em;
        width: 0.85em;
    }


    .lodging_links_block
    {
        margin-top: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .lodging_links
    {
        box-shadow: -1px -1px 5px 5px rgba(0,0,0,0.05);
        background-color: white;
        display: flex;
        flex-direction: column;
        border: 5px white solid;
        border-radius: 1.2rem;
        margin-top: 20px;
        margin-bottom: 10px;
        width: 30%;
    }

    .bloc_image_lodg
    {
        border-top-left-radius: 0.8rem;
        border-top-right-radius: 0.8rem;
        object-fit: cover;
        width:100%;
        height: 130px;
    }

    .article_title
    {
        margin-bottom: 0px;
    }

    .lodg_link_content
    {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        align-items:unset;
        max-height: 100px;
    }

    .lodg_link_title
    {
        font-size: 15px;
        font-weight: 900;
        line-height: 0px;
        margin-top: 20px;
        margin-bottom: 15px;
        padding: 0px;
    }

    .lodg_link_price
    {
        font-size: 15px;
        margin: 0px;
        margin-bottom: 2px;
        padding: 0px;
    }

    .lodg_link_review
    {
        margin-bottom: 5px;
    }

    .heb_more_container
    {
        margin-top: 3.5%;
        font-weight: 900;
    }
}