/* affichage smartphone */
@media screen and (max-device-width: 767px)
{

    #search_section
    {
		margin: 20px;
    }

    /* Title */
    h1
    {
        padding-top: 10px;
        font-size: 6vw;
        font-weight: 900;
    }

    .title_complement
    {
        margin-bottom: 40px;
        font-size: 4.2vw;
        font-weight: 400;
    }

    /* ------- Search Bar ----------*/
    #search_bar
    {
        display: flex;
        margin: none;
        padding: none;
        border: 2px #F2F2F2 solid;
        border-radius: 1rem;
        height: 50px;
    }

    #icone_gps
    {
        color: black;
        background-color: #F2F2F2;
        padding: 18px;
        margin: 0px;
        border: 0px;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        position: relative;
        right: +2px;
    }

    .search_input
    {
        margin: 0px;
        width: 70vw;
        padding: 4.4vw;
        padding-bottom: 3.8vw;
        background-color: none;
        border-right: none;
        border: none;
        font-weight: 900;
    }

    .search_input::placeholder
    {
        color: black;
        opacity: 1;
        font-size: 18px;
        font-family: 'Raleway';
        font-weight: 900;
    }

    .search_submit
    {
        background-color: #0065FC;
        border: 2px #0065FC solid;
        border-radius: 15px;
        box-shadow: none;
        border: none;
        padding: 20px;
        overflow: visible;
        height: 54px;
        position: relative;
        top:-2px;
        right:-2px;
    }

    .search_submit_computer
    {
        display: none;
    }

    #search_submit_mobile
    {
        color: white;
        background-color: #0065FC;
    }

    .filter_title
    {
        padding-top: 20px;
        font-weight: 900;
        font-size: 5vw;
    }

    /*---------Filtres------------*/
    #cat_filtres
    {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .filtres
    {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border: 2px #F2F2F2 solid;
        border-radius: 3rem;
        height: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .filtres:hover
    {
        background-color: #85bbf2;
    }

    /*texte*/
    .filtre_item
    {
        padding-right: 10px;
        position: relative;
        left: -10px;
    }

    .icone_box
    {
        display: flex;
    }

    .icone_animal 
    {
        font-size: 20px;
        position: relative;
        top: +15px;
        left: -40px;
        color: #0065FC;
        text-align: center;
        vertical-align: middle;
    }

    .icone_heart 
    {
        font-size: 20px;
        position: relative;
        top: +17px;
        left: -40px;
        color: #0065FC;
        text-align: center;
        vertical-align: middle;
    }

    .icone_family 
    {
        font-size: 20px;
        position: relative;
        top: +16px;
        left: -37px;
        color: #0065FC;
        text-align: center;
        vertical-align: middle;
    }

    .icone_eco 
    {
        font-size: 17px;
        position: relative;
        top: +17px;
        left: -40px;
        color: #0065FC;
        text-align: center;
        vertical-align: middle;

    }

    .circle_filter
    {
        background: #DEEBFF;
        border-radius: 50%;
        padding: 25px;
        position: relative;
        overflow: visible;
        border: 2px #DEEBFF solid;
        left: -2px;
        top: -2px;
    }

    .info_box
    {
        float: left;
        display: flex;
    }

    .info_circle
    {
        padding: 10px;
        border: 2px #F2F2F2 solid;
        border-radius: 2rem;
    }

    .fa-info
    {
        position: relative;
        top: 6px;
        left: -14px;
        color: #0065FC;
        margin-right: 10px;
    }

    .text_result
    {
        font-size: 4vw;
    }
}

/* affichage ordinateur et grands écrans */
@media screen and (min-device-width: 768px)
{
    .title_break
    {
        display: none;
    }

        /* Title */
    h1
    {
        padding-top: 30px;
        font-size: 133%;
        font-weight: 900;
        margin-bottom: 10px;
    }

    .title_complement
    {
        margin-top: 0px;
        margin-bottom: 40px;
        font-size: 95%;
        font-weight: 100;
    }

    /* ------- Search Bar ----------*/
    #search_bar
    {
        display: flex;
        margin: none;
        padding: none;
        height: 50px;
        border: 3px #F2F2F2 solid;
        border-radius: 1rem;
        width: 29.5%;
    }

    #icone_gps
    {
        color: black;
        background-color: #F2F2F2;
        border-top-left-radius: 0.8rem;
        border-bottom-left-radius: 0.8rem;
        padding: 18px;
        padding-left: 15px;
        padding-right: 19px;
        align-self: center;
        font-size: 18px;
    }

    .search_input
    {
        padding-left: 10px;
        min-width: 180px;
        width: 100%;
        background-color: none;
        border-right: none;
        border: none;
        font-size: 20px;
        font-weight: 900;
    }

    .search_input::placeholder
    {
        color: black;
        opacity: 1;
        font-size: 18px;
        font-family: 'Raleway';
        font-weight: 900;
    }

    .search_submit
    {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0065FC;
        border: 2px #0065FC solid;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        box-shadow: none;
        border: none;
        padding: 20px;
        overflow: visible;
        height: 54px;
        position: relative;
        top:-2px;
        right:-2px;
    }

    .search_submit_computer
    {
        color: white;
        background-color: #0065FC;
        font-size: 108%;
        font-weight: 900;
        align-self: center;
    }

    #search_submit_mobile
    {
        display: none;
    }

    .filter_title
    {
        padding-top: 20px;
        font-weight: 900;
        font-size: 115%;
        float: left;
        position: relative;
        top: 8px;
        margin-right: 30px;
    }

    /*---------Filtres------------*/
    #cat_filtres
    {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content:left;
        margin-top: 20px;
    }

    .filtres
    {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border: 2px #F2F2F2 solid;
        border-radius: 3rem;
        height: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 25px;
        font-weight: 900;
    }

    .filtres:hover
    {
        background-color: #85bbf2;
    }

    /*texte*/
    .filtre_item
    {
        padding-right: 10px;
        position: relative;
        left: -10px;
        top: -2px;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 115%;
    }

    .icone_box
    {
        display: flex;
    }

    .icone_animal 
    {
        font-size: 20px;
        position: relative;
        top: +13px;
        left: -40px;
        color: #0065FC;
        text-align: center;
        vertical-align: middle;
    }

    .icone_heart 
    {
        font-size: 20px;
        position: relative;
        top: +17px;
        left: -39px;
        color: #0065FC;
        text-align: center;
        vertical-align: middle;
    }

    .icone_family 
    {
        font-size: 20px;
        position: relative;
        top: +16px;
        left: -37px;
        color: #0065FC;
        text-align: center;
        vertical-align: middle;
    }

    .icone_eco 
    {
        font-size: 17px;
        position: relative;
        top: +17px;
        left: -40px;
        color: #0065FC;
        text-align: center;
        vertical-align: middle;
    }

    .circle_filter
    {
        background: #DEEBFF;
        border-radius: 50%;
        padding: 25px;
        position: relative;
        overflow: visible;
        border: 2px #DEEBFF solid;
        left: -2px;
        top: -2px;
    }

    .info_box
    {
        float: left;
        display: flex;
        clear: both;
    }

    .info_circle
    {
        padding: 10px;
        border: 2px #F2F2F2 solid;
        border-radius: 2rem;
    }

    .fa-info
    {
        position: relative;
        top: 6px;
        left: -14px;
        color: #0065FC;
        margin-right: 10px;
    }

    .text_result
    {
        position: relative;
        top: 3px;
        font-size: 0.8vw;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1199px)
{
    .text_result
    {
        font-size: 120%;
    }
}