@media screen and (min-width: 1200px) and (max-width: 1439px)
{
    #sections_container
    {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .popular
    {
        order: 1;
        background-color: #F2F2F2;
        padding: 10px 35px;
        border-radius: 1.2rem;
        width: 27%;
    }

    .popular_header
    {
        display: flex;
        justify-content: space-between;
    }

    .fa-chart-line
    {
        font-size: 25px;
        align-self: center;
        margin: 30px 0px 10px 0px;
    }

    .section_title
    {
        font-size: 22.5px;
        margin: 30px 0px 10px 0px;
    }

    .popular_links
    {

        display: flex;
        background-color: white;
        margin: 12px 0 12px 0;
        height: 145px;
        width: 100%;
        border-radius: 1.2rem;
        overflow: hidden;
        box-shadow: -1px -1px 5px 5px rgba(0,0,0,0.05);
    }

    .popular_image
    {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.04);
    }

    .popular_image_container
    {
        align-self: center;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        width: 135px;
        height: 135px;
        overflow: hidden;
        margin-left: 5px;
        object-fit: cover;
    }

    .popular_info_container
    {
        display: flex;
        flex-direction: column;
        margin: 0 20px 0 20px;
        width: 55%;
        position: relative;
    }

    .popular_link_title
    {
        margin: 15px 0 0 0;
        font-size: 18.75px;
        font-weight: 900;
        margin-bottom: 0px;
    }

    .popular_link_price
    {
        margin: 5px 0 0 0;
        font-size: 94%;
    }

    .popular_link_review
    {
        position: absolute;
        top: 80px;
        margin: 30px 0 0 0;
    }

    .stars_true
    {
        color: #0065FC;
        font-size: 0.75em;
        width: 0.85em;
    }

    .stars_false
    {
        color: #cfcfcf;
        font-size: 0.76em;
        width: 0.88em;
    }
}


@media screen and (min-width: 1440px)
{
    #sections_container
    {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .popular
    {
        display: flex;
        flex-direction: column;
        order: 1;
        background-color: #F2F2F2;
        padding: 25px 35px 10px 35px;
        border-radius: 1.2rem;
        width: 370px;
    }

    .popular_header
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
    }

    .fa-chart-line
    {
        font-size: 25px;
        height: 25px;
    }

    .section_title
    {
        font-size: 22.5px;
    }

    .popular_links
    {

        display: flex;
        background-color: white;
        margin: 8px 0 26px 0;
        height: 145px;
        width: 100%;
        border-radius: 1.2rem;
        overflow: hidden;
        box-shadow: -1px -1px 5px 5px rgba(0,0,0,0.05);
    }

    .popular_image
    {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.04);
    }

    .popular_image_container
    {
        align-self: center;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        width: 135px;
        height: 135px;
        overflow: hidden;
        margin-left: 5px;
        object-fit: cover;
    }

    .popular_info_container
    {
        display: flex;
        flex-direction: column;
        margin: 0 20px 0 20px;
        width: 55%;
        position: relative;
    }

    .popular_link_title
    {
        margin: 15px 0 0 0;
        font-size: 18.75px;
        font-weight: 900;
        margin-bottom: 0px;
    }

    .popular_link_price
    {
        margin: 5px 0 0 0;
        font-size: 16px;
    }

    .popular_link_review
    {
        position: absolute;
        margin: 30px 0 0 0;
        top: 80px;
    }

    .stars_true
    {
        color: #0065FC;
        font-size: 0.75em;
        width: 0.85em;
    }

    .stars_false
    {
        color: #cfcfcf;
        font-size: 0.76em;
        width: 0.88em;
    }
}