@media screen and (max-width: 767px)
{
    .popular
    {
        background-color: #F2F2F2;
        padding: 20px 20px;
    }

    .popular_header
    {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .fa-chart-line
    {
        font-size: 25px;
        align-self: center;
    }

    .section_title
    {
        font-size: 22.5px;
    }

    .popular_links
    {
        display: flex;
        background-color: white;
        margin-bottom: 15px;
        height: 145px;
        border-radius: 1.2rem;
        overflow: hidden;
        box-shadow: -1px -1px 5px 5px rgba(0,0,0,0.05);
    }

    .popular_image
    {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.04);
    }

    .popular_image_container
    {
        align-self: center;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        width: 128px;
        height: 135px;
        overflow: hidden;
        margin-left: 5px;
        object-fit: cover;
    }

    .popular_info_container
    {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0 0 0 20px;
        width: 55%;
        height: 135px;
    }

    .popular_link_title
    {
        margin: 15px 0 0px 0;
        font-size: 17px;
        font-weight: 900;
    }

    .popular_link_price
    {
        margin: 5px 0 0 0;
        font-size: 14.5px;
    }

    .popular_link_review
    {
        position: absolute;
        margin: 0;
        top: 105px;
    }

    .stars_true
    {
        color: #0065FC;
        font-size: 0.75em;
        width: 0.85em;
    }

    .stars_false
    {
        color: #cfcfcf;
        font-size: 0.76em;
        width: 0.88em;
    }
}

@media screen and (max-width: 360px)
{
    .popular_links
    {
        display: flex;
        background-color: white;
        margin-bottom: 15px;
        height: 145px;
        border-radius: 1.2rem;
        overflow: hidden;
        box-shadow: -1px -1px 5px 5px rgba(0,0,0,0.05);
    } 

    .popular_image_container
    {
        align-self: center;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
        width: 100px;
        height: 135px;
        overflow: hidden;
        margin-left: 5px;
        object-fit: cover;
    }

    .popular_info_container
    {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 0 0 0 10px;
        padding-top: 10px;
        width: 55%;
    }

    .popular_link_title
    {
        margin: 5px 0 0 0;
        font-size: 15px;
        font-weight: 900;
    }

    .popular_link_price
    {
        margin: 5px 0 0 0;
        font-size: 94%;
    }

    .popular_link_review
    {
        position: absolute;
        margin: 0;
        top: 110px;
    }

    .stars_true
    {
        color: #0065FC;
        font-size: 0.60em;
        width: 0.70em;
    }

    .stars_false
    {
        color: #cfcfcf;
        font-size: 0.60em;
        width: 0.70em;
    }
}

@media screen and (max-width: 450px)
{
    .popular_image
    {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


